:root {
  --mainfontcolor: #212121;
  --mainfont-size: 14px;
  --focus-active-hovercolor: #2196f3;
  --darkbd-fontcolor: #fff;
  --shadowfontcolor: #757575;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/**Globalne style **/
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: var(--mainfontcolor);
  margin: 0 auto;
  max-width: 1600px;
}
a{
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/**Logo w stópce i w header **/
.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--darkbd-fontcolor);
  text-decoration: none;
}
.head-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
  text-decoration: none;
  width: 145px;
  height: 31px;
  margin: 0 93px 0 0;
}
.webname {
  color: var(--focus-active-hovercolor);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
}
/** Header (Nawigacja górna strony) **/
.head-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: baseline;
}
.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-border {
  border-bottom: 1px solid #ececec;
}
.menu {
  text-decoration: none;
  display: flex;
  gap: 23px;
  align-items: baseline;
  justify-content: space-between;
}
.submenu {
  font-weight: 500;
  font-size: var(--mainfont-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mainfontcolor);
  text-decoration: none;
  padding-right: 32px;
}
.submenu:hover,
.submenu:focus {
  color: var(--focus-active-hovercolor);
}
.submenu:active {
  color: var(--focus-active-hovercolor);
}
.contacts {
  display: block;
  font-weight: 500;
  font-size: var(--mainfont-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--shadowfontcolor);
  text-decoration: none;
  margin-right: 50px;
}
.contacts:hover,
.contacts:focus {
  color: var(--focus-active-hovercolor);
}
.list-style {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}
/** Przyciski w Main **/
.navbutton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 121px;
  height: 38px;
}
.navbutton:hover,
.navbutton:focus {
  background: var(--focus-active-hovercolor);
  color: var(--darkbd-fontcolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.mainbtn {
  background-color: var(--focus-active-hovercolor);
  color: var(--darkbd-fontcolor);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
.pagenav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 50px;
}
/** Wnętrze Stron **/
.pic-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--mainfontcolor);
}

.pic-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--shadowfontcolor);
  background-color: #fff;
}
.pictures {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  gap: 30px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
}
.mainbgcolor {
  background: #2f303a;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-title {
  font-weight: 700;
  font-size: var(--mainfont-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  font-size: var(--mainfont-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--shadowfontcolor);
}
.head-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mainfontcolor);
  margin-top: 0;
  margin-bottom: 50px;
}
.pic-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--mainfontcolor);
}
.ppl-jobs {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--shadowfontcolor);
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--darkbd-fontcolor);
  padding-right: 452px;
  padding-left: 452px;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.img-padding{
  padding-right: 15px;
  padding-left: 15px;
}
.about {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0 215px;
}
.workers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-style {
  background: #e5e5e5;
}
.lower-body {
  background-color: #f5f4fa;
}
.team-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 15px;
}
.pic-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;;
}
.main-content-color {
  background: #fff;
  padding-top: 1px; /** usuwa miejsce pomiędzy header a main **/
}
/** Zawartość Stopki **/
.foot {
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--mainfont-size);
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
  text-decoration: none;
}
.foot:hover,
.foot:focus {
  color: var(--focus-active-hovercolor);
}
.footaddres {
  font-size: var(--mainfont-size);
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--darkbd-fontcolor);
}
.footer-bg {
  background: #2f303a;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0;
}
